/******************************************************************************
 * Scalable and Modular Architecture for CSS
 *
 * This is a demo project utilizing the smacss ideology. You can find out more
 *  about smacss by visiting: https://smacss.com/
 *
 * There are five types of categories:
 *  1. Base
 *  2. Layout
 *  3. Module
 *  4. State
 *  5. Theme
 *****************************************************************************/
/******************************************************************************
 * Globals
 *****************************************************************************/
/******************************************************************************
 * Base
 *
 * Base rules are the defaults. They are almost exclusively single element
 *  selectors but it could include attribute selectors, pseudo-class selectors,
 *  child selectors. Essentially, a base style says that wherever this element
 *  is on the page, it should look like this.
 *
 * Examples of Base Styles:
 *  html, body, form { margin: 0; padding: 0; }
 *  input[type=text] { border: 1px solid #999; }
 *  a { color: #039; }
 *  a:hover { color: #03C; }
 *****************************************************************************/
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  box-sizing: border-box; }

section {
  padding: 80px;
  font-family: "Roboto Slab", serif; }

.amber-50 {
  background: #FFF8E1; }

.amber-500 {
  background: #FFC107; }

.blue-300 {
  background: #4FC3F7; }

.blue-600 {
  background: #039BE5; }

.blue-900 {
  background: #01579B; }

.blue-grey-50 {
  background: #ECEFF1; }

.deep-orange-500 {
  background: #FF5722; }

.green-A100 {
  background: #B9F6CA; }

/******************************************************************************
 * Layout
 *
 * Layout rules divide the page into sections. Layouts hold one or more
 *  modules together.
 *
 * These rules are prefixed with lyt- for clarity.
 *****************************************************************************/
.content {
  width: 1280px;
  margin: 0px auto; }

.lyt-left {
  float: left; }

.lyt-right {
  float: right; }

@media screen and (max-width: 1280px) {
  .content {
    width: 100%; } }

/******************************************************************************
 * Module
 *
 * Modules are the reusable, modular parts of our design. They are the
 *  callouts, the sidebar sections, the products lists and so on.
 *****************************************************************************/
app-header {
  background: #FFC107; }

#main-title {
  padding-left: 20px; }

.aside {
  height: 100vh;
  min-width: 200px;
  width: 20%; }

.main {
  margin-left: 20%;
  padding: 1.5em; }

.blog-section {
  min-height: 300px; }

.bg-dark {
  color: #fff; }
