@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
          border-radius: $border-radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
