// fonts
$site-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// colors
$site-background-color: #fafafa;
$site-font-color: #333;

// nav colors
$app-header-background-color: #FFECB3;
