// fonts
$site-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$content-font-family: 'Roboto Slab', serif;

// colors
$site-background-color: #fafafa;
$site-font-color: #333;

// background colors

$amber-50: #FFF8E1;
$amber-500: #FFC107;

$blue-300: #4FC3F7;
$blue-600: #039BE5;
$blue-900: #01579B;

$blue-grey-50: #ECEFF1;

$deep-orange-500: #FF5722;

$green-A100: #B9F6CA;

// nav colors
$app-header-background-color: $amber-500;
